{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facemask detection</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@3.14.0/dist/tf-core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-cpu@3.14.0/dist/tf-backend-cpu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-tflite@0.0.1-alpha.8/dist/tf-tflite.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>
    <h2>Facemask Detection</h2>
    <div class="content">
        <video id="video" class="img-rounded" style="transform: rotateY(180deg);">Video stream not available.</video>
        <div class="boxes-container"></div>
    </div>
</body>
</html>